services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime
    image: bd-rl-002-sw_crm_contact_search:runtime
    container_name: bd_rl_002_sw_crm_contact_search_after
    stdin_open: true
    tty: true

  tests:
    build:
      context: .
      dockerfile: Dockerfile
      target: build
    image: bd-rl-002-sw_crm_contact_search:build
    container_name: bd_rl_002_sw_crm_contact_search_tests
    command: ["dotnet", "test", "tests/tests.csproj", "-c", "Release", "-v", "minimal"]
    working_dir: /src
