version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime
    image: swe_skill_matching:runtime
    container_name: swe_skill_matching_app
    stdin_open: true
    tty: true

  tests:
    build:
      context: .
      dockerfile: Dockerfile
      target: build
    image: swe_skill_matching:build
    container_name: swe_skill_matching_tests
    command: ["dotnet", "test", "tests/tests.csproj", "-c", "Release", "-v", "minimal"]
    working_dir: /src
